header{
	background-image: url("../imag/encabe.jpeg");
	background-size: 100% 100%;
	background: linear-gradiemt(red,yellow,black,green,pink,orange,blue);
}
body {
	background-image: url("../imag/fondo.jpg");
	background-size: 100%;
	font-size: 20px;
}
nav {
	background: radial-gradient(#29044A,#487956,#289745,#654897,#0f0f0f);
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	margin-top: 50px;
	margin-bottom: 20px;
	font-style: italic;
	text-align: center;
}
nav li {
	display: inline;
	padding-right: 10px;
}
nav li a:hover {
	background-color: #00F;
	color: yellow;
}
header#cabeza {
	color: white;
	font-size: 40pt;
}
section#cuerpo {
	border-style: dashed;
	float:left;
}
section#enlaces {
	margin-bottom: 20px;
	border-style: dashed;
	float: right;
}
footer#pie {
	border-style: dashed;
	clear: both;
	display: block;
	font-size: 10px;
}