#cabeza {
	margin-bottom: 10px;
}

#redes {
	text-align: right;
}

.jumbotron {
	margin: 10%;
	background-image: url('../imag/encabe.jpeg') !important;
	background-size: 50%;
	background-repeat: repeat-x;
}

#footer {
	margin: 5%;
}

#prin {
	background-image: url('imag/encabe.jpeg');
}

h1,h2,h3,h4,h5,h6 {
	color: #FFF !important;
}

body {
	background-image: url('../imag/tokio.jpg') !important;
	background-size: 100%;
}