body {
	background-color: #0080FF;
	background-image: url('../imag/fondo.jpg');
	background-position: 50px 150px;
	background-repeat: no-repeat;
}

.nav-pills>li>a {
	color: #FFF;
}

#mensaje {
	text-align: center;
	margin: 10%;
	background-color: #DBDAD5;
}

#mensaje2 {
	margin: 10%;
	background-color: #FFF;
}

.presente {
	color: #000;
	background-color: #FFF;
}

#logeo {
	 margin: 10%;
}